  <h1 class="h1-title">Ironhack Cinema</h1>
   <h2 class="h2-title">Click on the movie to check the showtimes!</h2>
<div class="movies">
 
  {{#each this.allMovies}}
    <div class="movie">
      <img src="{{this.image}}" />
      <h5>{{this.title}}</h5>
      <a href="/movie/{{this._id}}">See more</a>
    </div>
  {{/each}}
</div>